  .loader{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: #0000001a;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader_block {
     align-self: center;
    }
  }

